# PyCharm
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/advent_of_code.iml
.idea/codeStyles/
.idea/codeStyleSettings.xml

# Python
__pycache__/
.cache/

# Input Puzzle files
inputs/

# mypy cache
.mypy_cache

# Vagrant
Vagrantfile
.vagrant/

# pytest
# Server for remote tests run
socketserver.py
# Remote test run cache
pyexecnetcache/
