# PyCharm
.idea/

# Python
__pycache__/
.cache/

# mypy cache
.mypy_cache

# Vagrant
Vagrantfile
.vagrant/

# pytest
# Server for remote tests run
socketserver.py
# Remote test run cache
pyexecnetcache/
