[MESSAGES CONTROL]
# ToDo: unused-import - remove when pylint starts support comment annotations
disable=locally-disabled,
 # False positive for type annotations with typing module
 invalid-sequence-index,
 # False positive for OK test methods names and few other places
 invalid-name,
 # False positive unnecessary else
 no-else-return,
 # Can't disable per file due to https://github.com/PyCQA/pylint/issues/214
 # ToDo: remove when the bug above is fixed in pylint
 duplicate-code,
 # ToDo: remove once Solver class has more methods
 too-few-public-methods

[REPORTS]
# Simplify pylint reports
reports=no
score=no

[SIMILARITIES]
# ToDo: Temporary fix before architecture will not be moved to OOP style
min-similarity-lines=10
ignore-docstrings=yes
