astroid==1.4.8
click==6.6
colorama==0.3.7
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.3
pur==4.0.0
py==1.4.32
pycodestyle==2.2.0
pydocstyle==1.1.1
pylint==1.6.4
pytest==3.0.5
six==1.10.0
wrapt==1.10.8
